page-home {

    ion-card {
        background-color: #bbdefb !important;
    }

    ion-list .item .nome-distribuidor {
        color: $danger !important;
        float: left;
    }

    ion-list .item .avaliacoes-distribuidor {
        margin: 0;
    }

    ion-list .item p {
        margin: 8px 0 8px;
    }

}
