<!--
  Generated template for the ComentariosDistribidorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comentários</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

    <ion-card *ngIf="distribuidor">
      <ion-card-content>
        <ion-card-title text-right no-padding>
          <span class="nome">
              {{ distribuidor.nomeFantasia }}
          </span>
          <ion-badge item-end *ngIf="distribuidor.avaliacoes" color="secondary">
              <ion-icon class="icon avaliacoes-distribuidor" name="star"></ion-icon>
              {{ distribuidor.avaliacoes | mediaAvaliacoes }}
          </ion-badge>
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <div *ngIf="!comentarios && !nenhumComentario" padding text-center>
        <ion-spinner></ion-spinner>
        <p>Carregando comentários do distribuidor.</p>
    </div>

    <div class="information" *ngIf="nenhumComentario" padding text-center>
        <ion-icon name="information-circle"></ion-icon>
        <p>Nenhum comentário cadastrado para este distribuidor até o momento.</p>
    </div>

    <ion-card class="comentario" *ngFor="let comentario of comentarios">
      <ion-card-header text-right>
        <strong class="nome-cliente">{{comentario.nomeCliente}}</strong>
        <span class="avaliacao">
            <ion-icon class="icon avaliacoes-distribuidor" name="star" *ngIf="comentario.avaliacaoPedido >= 1"></ion-icon>
            <ion-icon class="icon avaliacoes-distribuidor" name="star" *ngIf="comentario.avaliacaoPedido >= 2"></ion-icon>
            <ion-icon class="icon avaliacoes-distribuidor" name="star" *ngIf="comentario.avaliacaoPedido >= 3"></ion-icon>
            <ion-icon class="icon avaliacoes-distribuidor" name="star" *ngIf="comentario.avaliacaoPedido >= 4"></ion-icon>
            <ion-icon class="icon avaliacoes-distribuidor" name="star" *ngIf="comentario.avaliacaoPedido >= 5"></ion-icon>
        </span>
      </ion-card-header>
      <ion-card-content>
        <p class="texto-comentario">
          &quot;
          {{comentario.textoComentario}}
          <ion-icon name="quote"></ion-icon>
        </p>
        <p class="data" text-right>
          {{ comentario.dataComentario | date:'d/M/y' }}</p>
      </ion-card-content>
    </ion-card>

</ion-content>
